@import "styles/colors.scss";

.joinLecturerModal {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-code {
    margin-top: 15px;
    font-size: 0.85rem;
    padding: 5px;
    color: $darkerGray;
    border: 1px solid $baseGray;
    border-radius: 3px;

    &:focus {
      outline: none;
    }
  }

  &-buttonWrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
