@import "styles/colors.scss";

.inquiryItem {
  display: flex;
  align-items: flex-start;
  padding: 20px 0;

  &-profileImageWrapper {
    margin-top: 5px;
    object-fit: cover;
  }

  &-profileImage {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  &-content {
    margin-left: 10px;

    &-profile {
      display: flex;
      align-items: center;

      &-classroom {
        margin-left: 5px;
      }

      &-pin {
        color: $darkerGray;
        margin-left: 10px;
        font-size: 0.75rem;
      }
    }

    &-time {
      margin-top: 10px;
    }
  }
}
