@import "styles/colors.scss";

.modal {
  &-window {
    &-title {
      user-select: none;
      position: sticky;
      top: 0;
      width: 100%;
      padding: 10px 15px;
      border-bottom: 1px solid $lightGray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $lightestGray;

      &-closeIcon {
        font-size: 16px;
        color: $darkerGray;
        cursor: pointer;
      }
    }

    &-content {
      padding: 20px 15px;
    }
  }
}
