@import "styles/colors.scss";

.loginModal {
  display: flex;
  flex-direction: column;

  &-inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
  }

  &-id,
  &-pw {
    width: 100%;
    margin-top: 5px;
    font-size: 0.85rem;
    padding: 5px;
    color: $darkerGray;
    border: 1px solid $baseGray;
    border-radius: 3px;

    &:focus {
      outline: none;
    }
  }

  &-buttonWrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
