@import "styles/colors.scss";

.header {
  z-index: 1000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid $lightGray;
  background-color: white;
  top: 0;

  &-serviceIntro {
    @media only screen and (max-width: 1024px) {
      visibility: hidden;
    }

    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;

    &-icon {
      margin-left: 20px;
    }

    &-title {
      margin-left: 5px;
    }

    &-subTitle {
      margin-left: 10px;
    }
  }
}
